# VSCode
*/.vscode/*

.DS_Store
*.zip
#Backend
backend/target/
!backend.mvn/wrapper/maven-wrapper.jar
backend/*.dbf
backend/*.fix
backend/*.prj
backend/*.shp
backend/*.shx
tmp/
backend/*.zip
backend/TASK.md
backend/*-h2.yml
backend/logs


### STS ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache
backend/.mvn
.vscode
start-db.sh

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

#frontend

frontend/.DS_Store
frontend/node_modules
frontend/dist

frontend/.env.local
frontend/.env.*.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/.idea
frontend/.vscode
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw*

backend_play/

frontend/yarn.lock
frontend/package-lock.json

dist.zip

backend/.mvn
backend/.vscode
backend/debug.sh
start-db.sh
.vscode

*.orig
docker-compose.yml


# Java
*.hprof

# Docker
backend/docker/vallengeo/.env
frontend/package-lock.json

# Terraform
# Local .terraform directories
**/.terraform/*

# Terraform lockfile
.terraform.lock.hcl

# Crash log files
terraform/crash.log

*.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

#ignore Key files 
.pem
