<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p>
            Prezado(a)
        </p>
        <p>
           Recebemos uma solicitação de alteração de senha para a sua conta.
        </p>
        <p>
            Se você não solicitou a alteração ou lembrou de sua senha, então pode ignorar este e-mail e <strong>sua senha
            não será alterada.</strong> O link abaixo irá permanecer ativo por <strong> 10 minutos.</strong>
        </p>
        <button
            style="padding: 10px 40px; background-color: #00519E; border: none; border-radius: 2px; box-shadow: 5px 6px 8px -2px rgba(0, 0, 0, 0.75); -webkit-box-shadow: 5px 6px 8px -2px rgba(0, 0, 0, 0.75); -moz-box-shadow: 5px 6px 8px -2px rgba(0, 0, 0, 0.75);"
        >
            <a
                style="color: white; font-weight: bold; text-decoration: none;"
                th:with="url=(@{|${baseUrl}/recuperar-senha/token?codigoAcesso=${user.codigoAcesso}|})" th:href="${url}"
            >
                Redefinir a senha
            </a>
        </button>
        <p>
            Caso você não seja redirecionado, poderá ter acesso ao sistema a partir do link:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/recuperar-senha/token?codigoAcesso=${user.codigoAcesso}|})" th:href="${url}" th:text="${url}">Acesse a plataforma</a>
        </p>
        <p>
            <span th:text="#{email.reset.regards}">Atenciosamente, </span>
            <br/>
            <em th:text="#{email.signature}"></em>
        </p>
    </body>
</html>
